.card {
  // FUNCTIONALITY
  perspective: 150rem;
  position: relative;
  height: 52rem;

  &__side {
    height: 52rem;
    transition: all 0.8s ease;
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: $box-shadow-1;

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to bottom right,
          $color-secondary-light,
          $color-secondary-dark
        );
      }

      &-2 {
        background-image: linear-gradient(
          to bottom right,
          $color-primary-light,
          $color-primary-dark
        );
      }

      &-3 {
        background-image: linear-gradient(
          to bottom right,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  // FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: linear-gradient(
          to bottom right,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url(../img/p1.jpg);
    }

    &--2 {
      background-image: linear-gradient(
          to bottom right,
          $color-primary-light,
          $color-primary-dark
        ),
        url(../img/p4.jpg);
    }

    &--3 {
      background-image: linear-gradient(
          to bottom right,
          $color-tertiary-light,
          $color-tertiary-dark
        ),
        url(../img/p3.jpg);
    }

    &--gilang {
      background-image: linear-gradient(
          to bottom right,
          rgba($color-secondary-light, 0.3),
          $color-secondary-dark
        ),
        url(../img/gilang.jpg);
    }

    &--apenk {
      background-image: linear-gradient(
          to bottom right,
          rgba($color-primary-light, 0.3),
          $color-primary-dark
        ),
        url(../img/apenk.jpg);
    }

    &--dimas {
      background-image: linear-gradient(
          to bottom right,
          rgba($color-tertiary-light, 0.3),
          $color-tertiary-dark
        ),
        url(../img/dimas.jpg);
    }

    &--sidik {
      background-image: linear-gradient(
          to bottom right,
          rgba($color-tertiary-light, 0.3),
          $color-tertiary-dark
        ),
        url(../img/sidik.jpg);
    }

    &--yakob {
      background-image: linear-gradient(
          to bottom right,
          rgba($color-primary-light, 0.3),
          $color-primary-dark
        ),
        url(../img/yakob.jpg);
    }

    &--nuria {
      background-image: linear-gradient(
          to bottom right,
          rgba($color-secondary-light, 0.3),
          $color-secondary-dark
        ),
        url(../img/nurya.jpg);
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 15rem;
    right: 2rem;
    width: 75%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      );
    }

    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.85),
        rgba($color-primary-dark, 0.85)
      );
    }

    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary-light, 0.85),
        rgba($color-tertiary-dark, 0.85)
      );
    }
  }

  &__details {
    text-align: center;
    padding: 3rem;

    &--team {
      padding: 2rem;
    }

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }

  // BACK SIDE STYLING
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }

  &__price-box {
    color: $color-white;
    margin-bottom: 8rem;
  }

  &__price-only {
    font-size: 1.4rem;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 300;
  }
}
