// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{

  color: rgb(54, 54, 54);
}
.bg-white {
  background-color: rgb(58, 129, 211) !important;
}
.navbar-light .navbar-brand {
  color: rgb(255, 255, 255);
}

.navbar-light .navbar-nav .nav-link {
  color:  rgba(255, 255, 255, 0.9) !important;
}
navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 0.7) !important;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgb(58, 129, 211) !important;
  color:#fff;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #0089ff !important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
}
