body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  font-size: $default-font-size;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 2.5rem;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 3rem;

  &--large {
    display: inline-block;
    width: 85%;
    font-size: 4rem;

    animation: moveInLeft 1s ease-out;
  }

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 2.5rem;

    animation: moveInLeft 1s ease-out;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.75rem;

    animation: moveInRight 1s ease-in;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 3px;
  transition: all 0.2s;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scaleY(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;

  &--white {
    color: $color-white;
  }
}

.paragraph {
  font-size: 1.7rem;

  &--white {
    display: inline-block;
    width: 95%;
    color: $color-white;
    letter-spacing: 0.3rem;

    animation: moveInRight 1s ease-out;
  }

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
