.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-large {
  margin-bottom: 5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 2.5rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-top-large {
  margin-top: 5rem !important;
}
