.footer {
  margin-top: 3rem;
  background-color: $color-grey-dark-3;
  padding: 5rem 0;
  font-size: 1.4rem;
  color: $color-grey-light-1;

  &__logo-box {
    text-align: center;
    margin-bottom: 6rem;
  }

  &__logo {
    width: 12rem;
  }

  &__navigation {
    border-top: 1px solid $color-grey-dark;
    padding-top: 2rem;
    display: inline-block;
  }

  &__social {
    border-top: 1px solid $color-grey-dark;
    padding-top: 2rem;
    display: inline-block;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      font-size: 1.6rem;

      color: $color-grey-light-1;
      background-color: $color-grey-dark-3;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      color: $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
      transform: rotate(5deg) scale(1.3);
      display: inline-block;
    }

    &--icon {
      font-size: 2rem;
    }
  }

  &__copyright {
    background-color: rgb(32, 32, 32);
    text-align: center;
    padding: 1rem;
  }
}

.footer--features {
  margin-top: 15rem;
}
