.section-about {
  background-color: $color-grey-light-1;
  padding: 10rem 0;
}

.section-features {
  padding: 20rem 0;
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/banner-bg-2.jpg);
  background-size: cover;
  background-position: left;
  position: relative;
  transform: skewY(-5deg);

  & > * {
    transform: skewY(5deg);
  }
}

.section-price {
  background-color: $color-grey-light-1;
  padding: 20rem 0 10rem 0;
  margin-top: -10rem;
}

.section-stories {
  position: relative;
  padding: 15rem 0;
}

.section-book {
  margin-top: 4rem;
  padding: 5rem 0;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)
  );
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../img/img4.jpg);
  background-size: 100%;
  background-position: center right;
  border-radius: 5px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
  // clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);

  // height: 50rem;

  &__form {
    width: 50%;
    padding: 6rem;
  }
}

.section-faq {
  padding: 10rem 0;
  // background-color: rgba($color-grey-dark, 0.4);
}

.section-privacy {
  padding: 10rem 0;
}

.section-login {
  padding: 10rem 0;
}
